<?xml version="1.0" ?>
<launch>
	<arg name="box_x" default="1"/>
	<arg name="box_y" default="1"/>
	<arg name="spacing" default="0.25"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
	</include>

	<!-- Spawn box -->
	<param name="box_description" command="$(find xacro)/xacro $(find mouse_gazebo)/models/box.xacro"/>
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_box" args="-param box_description -urdf -model box -x $(arg box_x) -y $(arg box_y)"/>

	<!-- Spawn mice -->
	<param name="mouse1_description" command="$(find xacro)/xacro $(find mouse_description)/urdf/mouse.xacro name:=mouse1"/>
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_mouse1" args="-param mouse1_description -urdf -model mouse1 -x $(arg spacing) -y $(arg spacing)"/>

	<param name="mouse2_description" command="$(find xacro)/xacro $(find mouse_description)/urdf/mouse.xacro name:=mouse2"/>
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_mouse2" args="-param mouse2_description -urdf -model mouse2 -x -$(arg spacing) -y $(arg spacing)"/>

	<param name="mouse3_description" command="$(find xacro)/xacro $(find mouse_description)/urdf/mouse.xacro name:=mouse3"/>
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_mouse3" args="-param mouse3_description -urdf -model mouse3 -x -$(arg spacing) -y -$(arg spacing)"/>

	<param name="mouse4_description" command="$(find xacro)/xacro $(find mouse_description)/urdf/mouse.xacro name:=mouse4"/>
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_mouse4" args="-param mouse4_description -urdf -model mouse4 -x $(arg spacing) -y -$(arg spacing)"/>
</launch>